
.top-info {
  text-align: center;
  background-color: #1546a2;
  color: #fff;
  padding: 20px 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.top-info h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.top-info p {
  margin: 5px 0 0;
  font-size: 1.2rem;
}

section {
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  height: 190px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.section {
  width: 100%;
}

.top-header {
  justify-content: space-between;
  padding: 20px;
  background-color: #2071aa;
  color: white;
  flex-wrap: wrap;
}

.body1 {
  margin: 0;
  background: #234551;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 10px;
  background-image: url(/assets/homebg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

section {
  margin-bottom: 10px;
  border-radius: 25px;
  overflow: hidden;
  height: 160px;
  padding: 20px 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 20px;
  color: rgb(235, 235, 243);
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.jjk {
  width: 100px;
  height: auto;
}

.Menu {
  display: flex;
  gap: 100px;
  max-width: 100%;
  overflow-x: hidden;
}

.Menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.Menu a:hover {
  text-decoration: underline;
}

.right-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.right-side {
  text-align: right;
}

footer {
  background-color: #369bdf;
  color: white;
  text-align: center;
  padding: 2px 0;
  font-size: 1rem;  
  margin-top: 10px;
}

.one {
  background-color: #090b53;
  padding: 20px;
}

.two {
  background-color: #42329c;
  padding: 20px;
}

.three {
  background-color: #0e4c72;
  padding: 20px;
}

.four {
  background-color: #246ba4;
  padding: 20px;
}

.five {
  background-color: #3470a5;
  padding: 20px;
}

.f1 {
  background-color: #4d4546;
}

.f2 {
  background-color: #4d4546;
}

.f3 {
  background-color: #4d4546;
}

.f4 {
  background-color: #4d4546;
}

.f5 {
  background-color: #4d4546;
}
